/*nav when not logged in start*/
#notLoggedNav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    flex-basis: 100px;
}

#notLoggedNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
/*nav when not logged in end*/

/*nav when logged in start*/
#loggedInNav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    flex-basis: 200px;
}

#loggedInNav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
/*nav when logged in end*/

.photoContainer{
    position: relative;
}

.remove{
    opacity: 0;
}

.tooltipBox{
    transition: opacity 2s;
    position: absolute;
    left: 90px;
    top: 10px;
    background-color: darkgrey;
    display: inline-block;
    padding: 5px;
    border: 5px solid darkgrey;
    border-radius: 10px;
}

.tooltipText{
    margin: 0;
}