/*nav when not logged in start*/
#notLoggedNav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    flex-basis: 100px;
}

#notLoggedNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
/*nav when not logged in end*/

/*nav when logged in start*/
#loggedInNav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    flex-basis: 200px;
}

#loggedInNav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
/*nav when logged in end*/

/*post container style       start*/
#postContainer{
    text-align: center;
    margin: 0 400px;
}

#postNameAndCaption{
    padding-right: 200px;
}

#postNameAndCaption h4{
    display: inline-block;
    margin-right: 15px;
}

#postNameAndCaption p{
    display: inline-block;
}



/*post container style      end*/








