<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Feed</title>
    <link rel="stylesheet" th:href="@{/my-feed-style.css}">
</head>
    <body>
        <div sec:authorize="isAuthenticated()">
            <nav th:replace="partials :: loggedInNav"></nav>
        </div>
        <div th:each="followed : ${followedUsers}">
           <div th:each="post : ${followed.getFollowedUser().getPosts()}">
               <img style="height: 150px; width: 150px" th:src="${post.imageUrl}">
               <p th:text="${post.description}"></p>
               <h4 th:text="${post.user.username}"></h4>
           </div>
        </div>
    </body>
</html>