<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" th:href="@{/profile-page-style.css}">
</head>
<body>
<h1>This page will show a single profile page</h1>
<div>
    A users profile picture will go here
    <img id="profilePic" th:src="${user.profilePicture}">
</div>
<h1 th:text="${user.username}"></h1>
<p th:text="${user.email}"></p>
<div th:each="followed : ${followedUsers}">
    <p th:text="${followed.followedUser.username}"></p>
</div>
</body>
</html>